{# <a href="/" class="navbar-brand brand-text">{{ name | title }}</a> #}
<a href="" class="navbar-brand hidden-dark">
    <img src="assets/img/logo.svg" width="136px">
</a>
<a href="" class="navbar-brand show-dark">
    <img src="assets/img/logo-bg-dark.svg" width="136px">
</a>