---
title: Tables
---
<div class="content-header">
    <h5 class="content-title">Sample table</h5>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="1" scope="col">No</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <table class="table table-striped table-hover mb-0">
                <thead>
                    <tr>
                        <th width="1" scope="col">No</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="content-header">
    <h5 class="content-title">Content card table</h5>
</div>
<div class="card mb-4">
    <div class="card-header bg-white border-bottom">
        <div>
            <h5 class="card-title mb-0">Data list</h5>
        </div>
        <div class="ms-auto">
            <button class="btn btn-primary">Add User</button>
        </div>
    </div>
    <table class="table table-striped table-hover mb-0">
        <thead>
            <tr>
                <th width="1" scope="col">No</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col" width="1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer bg-white d-md-flex align-items-center">
        <div class="me-auto">
            <span class="text-secondary">Showing 1 to 8 of 16 entries</span>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <button class="page-link ps-2" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="15 6 9 12 15 18"></polyline>
                        </svg>
                        <span>Prev</span>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">1</button>
                </li>
                <li class="page-item">
                    <span class="page-link disabled" href="#">...</span>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">4</button>
                </li>
                <li class="page-item">
                    <button class="page-link active" href="#">5</button>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">6</button>
                </li>
                <li class="page-item">
                    <span class="page-link disabled" href="#">...</span>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">8</button>
                </li>
                <li class="page-item">
                    <button class="page-link pe-2" href="#">
                        <span>Next</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ms-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="9 6 15 12 9 18"></polyline>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="content-header">
    <h5 class="content-title">Content table</h5>
    <div class="ms-auto">
        <button class="btn btn-default">Filter</button>
        <button class="btn btn-primary">Add User</button>
    </div>
</div>
<div class="card mb-4">
    <table class="table table-striped table-hover mb-0">
        <thead>
            <tr>
                <th width="1" scope="col">No</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col" width="1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td class="text-nowrap">
                    <a class="btn btn-xs btn-primary" href="#" onclick="return false;">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#" onclick="return false;">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-md-flex align-items-center bg-light">
    <div class="me-auto">
        <span class="text-secondary">Showing 1 to 8 of 16 entries</span>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            <li class="page-item">
                <button class="page-link ps-2" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="15 6 9 12 15 18"></polyline>
                    </svg>
                    <span>Prev</span>
                </button>
            </li>
            <li class="page-item">
                <button class="page-link" href="#">1</button>
            </li>
            <li class="page-item">
                <span class="page-link disabled" href="#">...</span>
            </li>
            <li class="page-item">
                <button class="page-link" href="#">4</button>
            </li>
            <li class="page-item">
                <button class="page-link active" href="#">5</button>
            </li>
            <li class="page-item">
                <button class="page-link" href="#">6</button>
            </li>
            <li class="page-item">
                <span class="page-link disabled" href="#">...</span>
            </li>
            <li class="page-item">
                <button class="page-link" href="#">8</button>
            </li>
            <li class="page-item">
                <button class="page-link pe-2" href="#">
                    <span>Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ms-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="9 6 15 12 9 18"></polyline>
                    </svg>
                </button>
            </li>
        </ul>
    </nav>
</div>