---
title: Home
permalink: index.html
---
<div class="px-4 py-5 my-5">
    <h1 class="display-5 fw-semibold text-center">Flatmin</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-center">Fresh bootstrap dashboard template</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{{ site.repository }}" target="_blank" class="btn btn-dark d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github me-2" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
                <span>Github</span>
            </a>
        </div>
        <div class="container px-3">
            <div class="card">
                <div class="card-body px-4 py-4">
                    <h4 class="h5">Start Build layout</h4>
                    <p class="mb-0">Get started by editing <code>`scr/pages/index.njk`</code> and <code>`scr/layout/default.njk`</code></p>
                </div>
            </div>
        </div>
    </div>
</div>