---
title: Card
---
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Card Title</h4>
        <div>
            <button class="btn btn-default">Header Action</button>
        </div>
    </div>
    <div class="card-body">
        <h5>Card body title</h5>
        <p class="mb-0">Content Body</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-default">Footer Action</button>
    </div>
</div>