---
title: Pagination
---
<div class="card mb-4">
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link ps-2" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="15 6 9 12 15 18"></polyline>
                        </svg>
                        <span>Prev</span>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">1</button>
                </li>
                <li class="page-item">
                    <span class="page-link disabled" href="#">...</span>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">4</button>
                </li>
                <li class="page-item">
                    <button class="page-link active" href="#">5</button>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">6</button>
                </li>
                <li class="page-item">
                    <span class="page-link disabled" href="#">...</span>
                </li>
                <li class="page-item">
                    <button class="page-link" href="#">8</button>
                </li>
                <li class="page-item">
                    <button class="page-link pe-2" href="#">
                        <span>Next</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ms-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="9 6 15 12 9 18"></polyline>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<p class="mb-2">Pagination outsite card</p>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <button class="page-link ps-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="me-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="15 6 9 12 15 18"></polyline>
                </svg>
                <span>Prev</span>
            </button>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">1</button>
        </li>
        <li class="page-item">
            <span class="page-link disabled" href="#">...</span>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">4</button>
        </li>
        <li class="page-item">
            <button class="page-link active" href="#">5</button>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">6</button>
        </li>
        <li class="page-item">
            <span class="page-link disabled" href="#">...</span>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">8</button>
        </li>
        <li class="page-item">
            <button class="page-link pe-2" href="#">
                <span>Next</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="ms-1 w-5 h-5 icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="9 6 15 12 9 18"></polyline>
                </svg>
            </button>
        </li>
    </ul>
</nav>