---
title: Register
layout: default.njk
permalink: page/auth/register.html
---
<div class="d-flex flex-grow-1 align-items-center">
    <div class="content container max-w-md">
        <div class="content-header">
            <div class="content-title mx-auto mt-6 mb-5">
                <img src="assets/img/logo.svg" alt="" class="h-12">
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mt-2 mb-5">Register Account</h5>
                <div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end py-3">
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>