@font-face {
    font-named-instance: Regular;
    font-display: swap;
    font-family: Inter var;
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/Inter-roman.var.woff2?v=3.18) format("woff2");
}

@font-face {
    font-named-instance: Italic;
    font-display: swap;
    font-family: Inter var;
    font-style: italic;
    font-weight: 100 900;
    src: url(/fonts/Inter-italic.var.woff2?v=3.18) format("woff2");
}
