---
title: Stacked Layout
layout: stacked.njk
permalink: layout/stacked.html
---
<div class="card">
    <div class="card-body">
        <h4 class="card-title py-1">Options Navigation</h4>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div class="mb-3">
                    <label class="form-label">Nav Backaground</label>
                    <div>
                        <div class="form-check">
                            <input name="navBg" id="white" onchange="changeBg(event)" checked class="form-check-input" type="radio" value="white">
                            <label class="form-check-label" for="white">White Backaground</label>
                        </div>
                        <div class="form-check">
                            <input name="navBg" id="dark" onchange="changeBg(event)" class="form-check-input" type="radio" value="dark">
                            <label class="form-check-label" for="dark">Dark Backaground</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Navbar Style</label>
                    <div>
                        <div class="form-check">
                            <input name="navStyle" onchange="changeStyle(event)" id="default" class="form-check-input" type="radio" value="default">
                            <label class="form-check-label" for="default">Default Style</label>
                        </div>
                        <div class="form-check">
                            <input name="navStyle" onchange="changeStyle(event)" id="tabs" checked class="form-check-input" type="radio" value="tabs">
                            <label class="form-check-label" for="tabs">Tabs Style</label>
                        </div>
                        <div class="form-check">
                            <input name="navStyle" onchange="changeStyle(event)" id="pills" class="form-check-input" type="radio" value="pills">
                            <label class="form-check-label" for="pills">Pills Style</label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="form-label">Trigger Sidenav</label>
                    <div>
                        <button class="btn btn-secondary" data-bs-toggle="offcanvas" data-bs-target="#navbarMenuCollapse">Toggle</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-1">
                <div class="bg-dark px-5 py-4 rounded-3">
                    <code>
                        <pre id="codeDocs">Code Docs ...</pre>
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let navBg = 'white';
    let navStyle = 'tabs';
    const navbarEl = document.querySelector('.navbar')
    const navbarNavEl = document.querySelector('.navbar .navbar-nav')
    const navbarNavRightEl = document.querySelector('.navbar .navbar-right .navbar-nav')
    const sidenavEl = document.querySelector('.sidenav')
    const codeDocsEl = document.querySelector('#codeDocs')
    String.prototype.toHtmlEntities = function () {
        return this.replace(/./gm, function (s) {
            return (s.match(/[a-z0-9\s]+/i))
                ? s
                : "&#" + s.charCodeAt(0) + ";";
        });
    };
    const navbarClasses = {
        white: ['bg-white'],
        dark: ['navbar-dark', 'bg-dark']
    }
    const navbarNavClasses = {
        default: [],
        tabs: ['nav-tabs'],
        pills: ['nav-pills']
    }
    const sidenavClasses = {
        white: ['bg-white'],
        dark: [
            'sidenav-dark', 'bg-dark'
        ],
        default: [],
        tabs: ['sidenav-tabs'],
        pills: ['sidenav-pills']
    }
    function changeClasses() {
        Object
            .keys(navbarClasses)
            .forEach(key => {
                navbarClasses[key].forEach(className => {
                    navbarEl
                        .classList
                        .remove(className)
                })
            })
        Object
            .keys(navbarNavClasses)
            .forEach(key => {
                navbarNavClasses[key].forEach(className => {
                    navbarNavEl
                        .classList
                        .remove(className)
                    navbarNavRightEl
                        .classList
                        .remove(className)
                })
            })
        navbarClasses[navBg].forEach(className => {
            navbarEl
                .classList
                .add(className)
        })
        navbarNavClasses[navStyle].forEach(className => {
            navbarNavEl
                .classList
                .add(className)
            navbarNavRightEl
                .classList
                .add(className)
        })
        Object
            .keys(sidenavClasses)
            .forEach(key => {
                sidenavClasses[key].forEach(className => {
                    sidenavEl
                        .classList
                        .remove(className)
                })
            })
        sidenavClasses[navBg].forEach(className => {
            sidenavEl
                .classList
                .add(className)
        })
        sidenavClasses[navStyle].forEach(className => {
            sidenavEl
                .classList
                .add(className)
        })
    }
    function changeCodeDocs() {
        codeDocsEl.innerHTML = `<!-- navbar -->
<nav class="navbar ${navbarClasses[navBg].join(' ')} ...">
    <!-- ... -->
    <ul class="navbar-nav ${navbarNavClasses[navStyle].join(' ')} ...">
    </ul>
    <!-- ... -->
    <div class="navbar-right">
        <ul class="navbar-nav ${navbarNavClasses[navStyle].join(' ')} ...">
        </ul>
    </div>
</nav>

<!-- sidenav -->
<div class="sidenav ${ [
            ...sidenavClasses[navStyle],
            ...sidenavClasses[navBg]
        ]
            .join(' ')} offcanvas ...">
    <!-- ... -->
</div>`
            .toHtmlEntities();
    }

    function changeBg(event) {
        navBg = event.target.value;
        changeClasses();
        changeCodeDocs();
    }
    function changeStyle(event) {
        navStyle = event.target.value;
        changeClasses();
        changeCodeDocs();
    }
    document.addEventListener("DOMContentLoaded", () => {
        changeCodeDocs();
    });
</script>